################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LXApiExam/.vs/LXApiExam/v16/Server/sqlite3/db.lock
